@font-face {
    font-family: 'Bungee';
    src: url('../fonts/Bungee-Regular.woff2') format('woff2'),
         url('../fonts/Bungee-Regular.woff') format('woff'),
         url('../fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary-color: #ff8906;
    --secondary-color: #f25f4c;
    --tetriary-color: #e53170;

    --background-color: #eeeeee;
    --card-background-color: #fffffe;
    --stroke-color: #0f0e17;
    --headline-color: #e53170;
    --paragraph-color: #0f0e17;
    --disabled-color: #808080;
}
* {
	padding: 0;
	margin: 0;
	border: none;
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
    font-family: 'Bungee', fantasy;
    font-variant: small-caps;
    font-size: 1.25rem;
    padding-inline: 5vw;
}
h1, h2, h3, h4, h5, h6 {
    -webkit-text-stroke: 1px var(--stroke-color);
	text-shadow: 3px 3px 0 var(--stroke-color);
    color: var(--headline-color);
}
h1 {
	text-align: center;
    font-size: 3.5em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}
p {
    color: var(--paragraph-color);
}
header {
    padding-block: 1.5rem;
    align-items: center;
}
#manage-section {
    padding-block: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input[type=text] {
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
    color: var(--paragraph-color);
    background-color: var(--card-background-color);
    padding: 0.75rem 1rem;
    border-radius: 6px;
    border: solid 2px var(--stroke-color);
}
input[type=submit],
input[type=button],
button {
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
    color: var(--paragraph-color);
    background-color: var(--primary-color);
    padding: 0.75rem;
    border-radius: 6px;
    border: solid 2px var(--stroke-color);
    box-shadow: 4px 4px var(--stroke-color);
    cursor: pointer;

    transition: transform 50ms, box-shadow 50ms;
}
input[type=submit]:active,
input[type=button]:active,
button:active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 1px 1px var(--stroke-color);
}
#create-task-button {
    background-color: var(--card-background-color);
}
.delete-task-button {
    background-color: var(--secondary-color);
}
.delete-task-button img {
    display: block;
    height: 1em;
    aspect-ratio: 1;
}
#tasks-section,
#tasklist-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    gap: 1.5rem;
}
article.task {
    padding: 1rem;
    background-color: var(--card-background-color);
    border-radius: 12px;
    border: solid 2px var(--stroke-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
article.task p {
    text-align: justify;
    overflow-wrap: anywhere;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
footer {
    text-align: center;
    padding-block: 2rem;
}