@font-face {
    font-family: 'Bungee';
    src: url('../fonts/Bungee-Regular.woff2') format('woff2'),
         url('../fonts/Bungee-Regular.woff') format('woff'),
         url('../fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary-color: #ff8906;
    --secondary-color: #f25f4c;
    --tetriary-color: #e53170;

    --background-color: #eeeeee;
    --card-background-color: #fffffe;
    --stroke-color: #0f0e17;
    --headline-color: var(--tetriary-color);
    --paragraph-color: var(--stroke-color);
    --disabled-color: #808080;
}
* {
	padding: 0;
	margin: 0;
	border: none;
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
    font-family: 'Bungee', fantasy;
    font-variant: small-caps;
    font-size: 1.25rem;
    padding-inline: 5vw;
}
h1, h2, h3, h4, h5, h6 {
    -webkit-text-stroke: 0.0625rem var(--stroke-color);
	text-shadow: 0.1875rem 0.1875rem 0 var(--stroke-color);
    color: var(--headline-color);
}
h1 {
	text-align: center;
    font-size: 3.5em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}
p {
    color: var(--paragraph-color);
}
header {
    padding-block: 1.5rem;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
}
main #manage-section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
main #manage-section form input[type=text] {
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
    color: var(--paragraph-color);
    background-color: var(--card-background-color);
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    border: solid 0.125rem var(--stroke-color);
}
main #manage-section form input[type=submit],
main #manage-section form input[type=button],
main button {
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--paragraph-color);
    background-color: var(--primary-color);
    padding: 0.75rem;
    border-radius: 0.375rem;
    border: solid 0.125rem var(--stroke-color);
    box-shadow: 0.25rem 0.25rem var(--stroke-color);
    cursor: pointer;

    transition: transform 50ms, box-shadow 50ms;
}
main #manage-section form input[type=submit]:active,
main #manage-section form input[type=button]:active,
main button:active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.0625rem 0.0625rem var(--stroke-color);
}
main #manage-section form #create-task-button {
    background-color: var(--card-background-color);
}
main #tasks-section,
main #tasks-section #tasklist-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
}
main #tasks-section #tasklist-section .task {
    padding: 1rem;
    background-color: var(--card-background-color);
    border-radius: 0.75rem;
    border: solid 0.125rem var(--stroke-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
main #tasks-section #tasklist-section .task p {
    text-align: justify;
    overflow-wrap: anywhere;
}
main #tasks-section #tasklist-section .task .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
main #tasks-section #tasklist-section .task .button-container .delete-task-button {
    background-color: var(--secondary-color);
}
main #tasks-section #tasklist-section .task .button-container .delete-task-button img {
    pointer-events: none;
    display: block;
    height: 1em;
    aspect-ratio: 1;
}
footer {
    text-align: center;
    padding-block: 2rem;
}
@media (max-width: 786px) {
    body {
        font-size: 1rem;
        padding-inline: 3vw;
    }
    main #manage-section {
        align-items: stretch;
    }
    main #manage-section form {
        flex-direction: column;
        gap: 0.75rem;
    }
    main #manage-section form input[type=submit],
    main #manage-section form input[type=button],
    main button {
        padding-block: 0.5rem;
    }
    main #manage-section form input[type=submit],
    main #manage-section form input[type=button] {
        width: 50%;
    }
    main #manage-section form input[type=text] {
        width: 100%;
    }
    main #tasks-section,
    main #tasks-section #tasklist-section {
        gap: 0.75rem;
    }
    main #tasks-section #tasklist-section .task {
        flex-direction: column;
        align-items: stretch;
        gap: 0.75rem;
        padding: 0.75rem;
    }
    main #tasks-section #tasklist-section .task .button-container .complete-task-button {
        flex: 3;
    }
    main #tasks-section #tasklist-section .task .button-container .delete-task-button {
        flex: 1;
    }
}